In [1]:
#pip install kagglehub

In [1]:
import pandas as pd
import os
import kagglehub
from kagglehub import KaggleDatasetAdapter

### Extracting the dataset from Kaggle and save it locally

In [2]:
# Extract latest version of cities housing market dataset from Kaggle 
path = kagglehub.dataset_download("vincentvaseghi/us-cities-housing-market-data")
# print the path to locate the file directory
print("Path to dataset files:", path)

Path to dataset files: /Users/atnafubrhane/.cache/kagglehub/datasets/vincentvaseghi/us-cities-housing-market-data/versions/33

In [3]:
# Set the correct path to the directory
directory_path = "/Users/atnafubrhane/.cache/kagglehub/datasets/vincentvaseghi/us-cities-housing-market-data/versions/33"

# check the files under the directory which the dataset is downloaded 
print("Files in the directory:", os.listdir(directory_path))

Files in the directory: ['city_market_tracker.tsv000']

In [4]:
# combine the directory path and the dataset file in to a single file path 
file_path = os.path.join(directory_path, 'city_market_tracker.tsv000')

# Open the TSV file using panda dataframe 
df = pd.read_csv(file_path, sep='\t')

# Display the first 5 rows of the dataset
df.head()

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2016-07-01,2016-07-31,30,place,6,9989,f,"Liberty Lake, WA",Liberty Lake,Washington,...,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,"Spokane, WA",44060,2025-01-13 14:16:48
1,2014-01-01,2014-01-31,30,place,6,5334,f,"Edgewood, WA",Edgewood,Washington,...,0.714286,0.264706,0.204100,0.178992,0.222222,0.222222,0.055556,"Tacoma, WA",45104,2025-01-13 14:16:48
2,2019-04-01,2019-04-30,30,place,6,26576,f,"White Meadow Lake, NJ",White Meadow Lake,New Jersey,...,-0.100000,0.290323,0.118894,0.132428,0.000000,0.000000,0.000000,"Newark, NJ",35084,2025-01-13 14:16:48
3,2017-04-01,2017-04-30,30,place,6,5544,f,"Englewood, NJ",Englewood,New Jersey,...,0.086957,0.165803,-0.035255,-0.034197,0.138889,0.069923,0.098889,"New York, NY",35614,2025-01-13 14:16:48
4,2020-07-01,2020-07-31,30,place,6,21435,f,"Belvedere, SC",Belvedere,South Carolina,...,0.750000,NaN,NaN,NaN,0.000000,0.000000,0.000000,"Augusta, GA",12260,2025-01-13 14:16:48

In [5]:
num_rows = len(df)
print(f"Number of Rows: {num_rows}")

Number of Rows: 5708042

### Transforming the data

In [6]:
# Extracting NC, Virginia, Texas data 
filtered_df = df[df['state'].isin(['North Carolina', 'Texas', 'Virginia'])]

# Display the first 5 rows of the filtered data
filtered_df.head()

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
5,2024-04-01,2024-04-30,30,place,6,8805,f,"Holiday Lakes, TX",Holiday Lakes,Texas,...,NaN,0.333333,NaN,NaN,0.000000,NaN,NaN,"Houston, TX",26420,2025-01-13 14:16:48
12,2024-05-01,2024-05-31,30,place,6,10173,f,"Krugerville, TX",Krugerville,Texas,...,0.023810,0.066667,-0.155556,-0.361905,0.500000,0.333333,0.333333,"Dallas, TX",19124,2025-01-13 14:16:48
25,2024-07-01,2024-07-31,30,place,6,475,f,"Alice, TX",Alice,Texas,...,-0.051948,0.105263,-0.022396,-0.052632,0.333333,0.333333,0.102564,"Alice, TX",10860,2025-01-13 14:16:48
47,2021-04-01,2021-04-30,30,place,6,475,f,"Alice, TX",Alice,Texas,...,0.333333,NaN,NaN,NaN,0.312500,-0.072115,0.312500,"Alice, TX",10860,2025-01-13 14:16:48
55,2013-04-01,2013-04-30,30,place,6,1855,f,"Bedford, TX",Bedford,Texas,...,-0.333333,NaN,NaN,NaN,0.333333,-0.238095,0.333333,"Fort Worth, TX",23104,2025-01-13 14:16:48

In [7]:
#filtered_df.dtypes

In [10]:
# Extracting 2020 - 2025 data from period begin and period end columns
# convert the datatype to of columns that have dates to filter the dataset based on years
filtered_df['period_begin'] = pd.to_datetime(filtered_df['period_begin'], errors='coerce')
filtered_df['period_end'] = pd.to_datetime(filtered_df['period_end'], errors='coerce')
# Filter the data from 2020 - 25
five_years_data = filtered_df[
    (filtered_df['period_begin'].dt.year >= 2020) &
    (filtered_df['period_end'].dt.year <= 2025)
]

/var/folders/rn/h0jsj52532jgpm4cc66mm4rm0000gn/T/ipykernel_74748/3463147310.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['period_begin'] = pd.to_datetime(filtered_df['period_begin'], errors='coerce')
/var/folders/rn/h0jsj52532jgpm4cc66mm4rm0000gn/T/ipykernel_74748/3463147310.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['period_end'] = pd.to_datetime(filtered_df['period_end'], errors='coerce')

In [9]:
# check number of rows 
num_rows = len(five_years_data)
print(f"Number of Rows: {num_rows}")

Number of Rows: 238492

In [10]:
# Dropping columns that aren't essential for data analysis tbale
five_years_data = pd.DataFrame(five_years_data)
drop_columns = [
    'table_id',
    'is_seasonally_adjusted',
    'region_type',
    'region_type_id',
    'property_type',
    'region',
    'state_code',
    'last_updated',
    'period_duration'    
]
five_years_data = five_years_data.drop(columns=drop_columns)
print(five_years_data.head())

   period_begin period_end           city  state  property_type_id  \
5    2024-04-01 2024-04-30  Holiday Lakes  Texas                -1
12   2024-05-01 2024-05-31    Krugerville  Texas                -1
25   2024-07-01 2024-07-31          Alice  Texas                -1
47   2021-04-01 2021-04-30          Alice  Texas                -1
83   2022-11-01 2022-11-30        Watauga  Texas                -1

    median_sale_price  median_sale_price_mom  median_sale_price_yoy  \
5             56000.0                    NaN                    NaN
12           712000.0               0.514894               0.675373
25           148000.0              -0.115494              -0.446729
47           252000.0               1.913295               1.000000
83           284000.0               0.006557               0.053803

    median_list_price  median_list_price_mom  ...  sold_above_list_mom  \
5            119900.0                    NaN  ...                  NaN
12           675000.0               0.022805  ...            -0.033333
25           165000.0              -0.175000  ...            -0.159091
47           149000.0               0.192000  ...             0.333333
83           299900.0              -0.000333  ...            -0.141414

    sold_above_list_yoy  price_drops  price_drops_mom  price_drops_yoy  \
5                   NaN     0.333333              NaN              NaN
12             0.023810     0.066667        -0.155556        -0.361905
25            -0.051948     0.105263        -0.022396        -0.052632
47             0.333333          NaN              NaN              NaN
83            -0.384921     0.393939        -0.223708         0.240093

    off_market_in_two_weeks  off_market_in_two_weeks_mom  \
5                  0.000000                          NaN
12                 0.500000                     0.333333
25                 0.333333                     0.333333
47                 0.312500                    -0.072115
83                 0.272727                     0.009569

    off_market_in_two_weeks_yoy  parent_metro_region  \
5                           NaN          Houston, TX
12                     0.333333           Dallas, TX
25                     0.102564            Alice, TX
47                     0.312500            Alice, TX
83                    -0.314229       Fort Worth, TX

    parent_metro_region_metro_code
5                            26420
12                           19124
25                           10860
47                           10860
83                           23104

[5 rows x 49 columns]

In [11]:
print(len(five_years_data.columns))

49

In [12]:
# percentage of mmissing values in the data base:
missing_values = five_years_data.isna().mean() * 100
missing_values

period_begin                       0.000000
period_end                         0.000000
city                               0.000000
state                              0.000000
property_type_id                   0.000000
median_sale_price                  0.000000
median_sale_price_mom             16.300337
median_sale_price_yoy             16.941029
median_list_price                 14.184124
median_list_price_mom             26.002130
median_list_price_yoy             27.222716
median_ppsf                        0.661657
median_ppsf_mom                   16.966607
median_ppsf_yoy                   17.646714
median_list_ppsf                  14.484763
median_list_ppsf_mom              26.357278
median_list_ppsf_yoy              27.635728
homes_sold                         0.000000
homes_sold_mom                    16.300337
homes_sold_yoy                    16.940191
pending_sales                     12.769820
pending_sales_mom                 25.508612
pending_sales_yoy                 26.784966
new_listings                      14.175318
new_listings_mom                  25.992067
new_listings_yoy                  27.216007
inventory                          6.983043
inventory_mom                     19.600238
inventory_yoy                     21.087500
months_of_supply                   6.983043
months_of_supply_mom              19.600238
months_of_supply_yoy              21.087500
median_dom                         0.788706
median_dom_mom                    17.181708
median_dom_yoy                    17.801855
avg_sale_to_list                   7.642185
avg_sale_to_list_mom              22.833890
avg_sale_to_list_yoy              23.643141
sold_above_list                    0.000000
sold_above_list_mom               16.300337
sold_above_list_yoy               16.940191
price_drops                       37.665834
price_drops_mom                   48.558862
price_drops_yoy                   53.120859
off_market_in_two_weeks            9.095064
off_market_in_two_weeks_mom       22.166362
off_market_in_two_weeks_yoy       23.540412
parent_metro_region                0.000000
parent_metro_region_metro_code     0.000000
dtype: float64

In [13]:
five_years_data = five_years_data.drop(columns=["median_sale_price_mom", "median_list_price_mom", "median_ppsf_mom", "median_list_ppsf_mom", "homes_sold_mom",\
                      "pending_sales_mom", "new_listings_mom", "inventory_mom", "months_of_supply_mom", "median_dom_mom",\
                      "avg_sale_to_list_mom", "sold_above_list_mom", "price_drops_mom", "off_market_in_two_weeks_mom"])
five_years_data.head()

,period_begin,period_end,city,state,property_type_id,median_sale_price,median_sale_price_yoy,median_list_price,median_list_price_yoy,median_ppsf,...,avg_sale_to_list,avg_sale_to_list_yoy,sold_above_list,sold_above_list_yoy,price_drops,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code
5,2024-04-01,2024-04-30,Holiday Lakes,Texas,-1,56000.0,NaN,119900.0,NaN,58.577406,...,0.861538,NaN,0.000000,NaN,0.333333,NaN,0.000000,NaN,"Houston, TX",26420
12,2024-05-01,2024-05-31,Krugerville,Texas,-1,712000.0,0.675373,675000.0,0.250232,232.662252,...,0.995242,-0.005388,0.166667,0.023810,0.066667,-0.361905,0.500000,0.333333,"Dallas, TX",19124
25,2024-07-01,2024-07-31,Alice,Texas,-1,148000.0,-0.446729,165000.0,-0.056873,103.496503,...,0.926397,-0.099491,0.090909,-0.051948,0.105263,-0.052632,0.333333,0.102564,"Alice, TX",10860
47,2021-04-01,2021-04-30,Alice,Texas,-1,252000.0,1.000000,149000.0,0.027586,106.554703,...,0.985631,0.059018,0.333333,0.333333,NaN,NaN,0.312500,0.312500,"Alice, TX",10860
83,2022-11-01,2022-11-30,Watauga,Texas,-1,284000.0,0.053803,299900.0,0.204418,199.408470,...,0.984357,-0.043691,0.222222,-0.384921,0.393939,0.240093,0.272727,-0.314229,"Fort Worth, TX",23104

In [17]:
five_years_data = five_years_data.drop(columns=["median_sale_price_yoy", "median_list_price_yoy", "median_ppsf_yoy", "median_list_ppsf_yoy", "homes_sold_yoy",\
                      "pending_sales_yoy", "new_listings_yoy", "inventory_yoy", "months_of_supply_yoy", "median_dom_yoy",\
                      "avg_sale_to_list_yoy", "sold_above_list_yoy", "price_drops_yoy", "off_market_in_two_weeks_yoy"])
five_years_data.head()

KeyError: "['median_sale_price_yoy', 'median_list_price_yoy', 'median_ppsf_yoy', 'median_list_ppsf_yoy', 'homes_sold_yoy', 'pending_sales_yoy', 'new_listings_yoy', 'inventory_yoy', 'months_of_supply_yoy', 'median_dom_yoy', 'avg_sale_to_list_yoy', 'sold_above_list_yoy', 'price_drops_yoy', 'off_market_in_two_weeks_yoy'] not found in axis"

In [18]:
five_years_data.head()

,period_begin,period_end,city,state,property_type_id,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,...,new_listings,inventory,months_of_supply,median_dom,avg_sale_to_list,sold_above_list,price_drops,off_market_in_two_weeks,parent_metro_region,parent_metro_region_metro_code
5,2024-04-01,2024-04-30,Holiday Lakes,Texas,-1,56000.0,119900.0,58.577406,178.422619,1.0,...,1.0,3.0,3.0,102.0,0.861538,0.000000,0.333333,0.000000,"Houston, TX",26420
12,2024-05-01,2024-05-31,Krugerville,Texas,-1,712000.0,675000.0,232.662252,246.702890,6.0,...,11.0,15.0,2.5,45.0,0.995242,0.166667,0.066667,0.500000,"Dallas, TX",19124
25,2024-07-01,2024-07-31,Alice,Texas,-1,148000.0,165000.0,103.496503,107.415902,11.0,...,17.0,57.0,5.2,64.0,0.926397,0.090909,0.105263,0.333333,"Alice, TX",10860
47,2021-04-01,2021-04-30,Alice,Texas,-1,252000.0,149000.0,106.554703,79.824561,6.0,...,15.0,27.0,4.5,102.0,0.985631,0.333333,NaN,0.312500,"Alice, TX",10860
83,2022-11-01,2022-11-30,Watauga,Texas,-1,284000.0,299900.0,199.408470,188.335358,18.0,...,19.0,33.0,1.8,39.0,0.984357,0.222222,0.393939,0.272727,"Fort Worth, TX",23104

In [19]:
# percentage of mmissing values in the data base:
missing_values = five_years_data.isna().mean() * 100
missing_values

period_begin                       0.000000
period_end                         0.000000
city                               0.000000
state                              0.000000
property_type_id                   0.000000
median_sale_price                  0.000000
median_list_price                 14.184124
median_ppsf                        0.661657
median_list_ppsf                  14.484763
homes_sold                         0.000000
pending_sales                     12.769820
new_listings                      14.175318
inventory                          6.983043
months_of_supply                   6.983043
median_dom                         0.788706
avg_sale_to_list                   7.642185
sold_above_list                    0.000000
price_drops                       37.665834
off_market_in_two_weeks            9.095064
parent_metro_region                0.000000
parent_metro_region_metro_code     0.000000
dtype: float64

In [21]:
# drop columns where more than 30% of values are missing 
threshold = 0.3
five_years_data = five_years_data.dropna(axis=1, thresh=len(five_years_data) * (1 - threshold))
print(five_years_data.shape)

(238492, 20)

In [22]:
five_years_data.to_csv("five_years_data.csv", index=True)