In [1]:
#pip install kagglehub

In [2]:
import pandas as pd
import os
import kagglehub
from kagglehub import KaggleDatasetAdapter

### Extracting the dataset from Kaggle and save it locally

In [3]:
# Extract latest version of cities housing market dataset from Kaggle 
path = kagglehub.dataset_download("vincentvaseghi/us-cities-housing-market-data")
# print the path to locate the file directory
print("Path to dataset files:", path)

Path to dataset files: /Users/atnafubrhane/.cache/kagglehub/datasets/vincentvaseghi/us-cities-housing-market-data/versions/33

In [4]:
# Set the correct path to the directory
directory_path = "/Users/atnafubrhane/.cache/kagglehub/datasets/vincentvaseghi/us-cities-housing-market-data/versions/33"

# check the files under the directory which the dataset is downloaded 
print("Files in the directory:", os.listdir(directory_path))

Files in the directory: ['city_market_tracker.tsv000']

In [5]:
# combine the directory path and the dataset file in to a single file path 
file_path = os.path.join(directory_path, 'city_market_tracker.tsv000')

# Open the TSV file using panda dataframe 
df = pd.read_csv(file_path, sep='\t')

# Display the first 5 rows of the dataset
df.head()

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2016-07-01,2016-07-31,30,place,6,9989,f,"Liberty Lake, WA",Liberty Lake,Washington,...,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,"Spokane, WA",44060,2025-01-13 14:16:48
1,2014-01-01,2014-01-31,30,place,6,5334,f,"Edgewood, WA",Edgewood,Washington,...,0.714286,0.264706,0.204100,0.178992,0.222222,0.222222,0.055556,"Tacoma, WA",45104,2025-01-13 14:16:48
2,2019-04-01,2019-04-30,30,place,6,26576,f,"White Meadow Lake, NJ",White Meadow Lake,New Jersey,...,-0.100000,0.290323,0.118894,0.132428,0.000000,0.000000,0.000000,"Newark, NJ",35084,2025-01-13 14:16:48
3,2017-04-01,2017-04-30,30,place,6,5544,f,"Englewood, NJ",Englewood,New Jersey,...,0.086957,0.165803,-0.035255,-0.034197,0.138889,0.069923,0.098889,"New York, NY",35614,2025-01-13 14:16:48
4,2020-07-01,2020-07-31,30,place,6,21435,f,"Belvedere, SC",Belvedere,South Carolina,...,0.750000,NaN,NaN,NaN,0.000000,0.000000,0.000000,"Augusta, GA",12260,2025-01-13 14:16:48

### Transforming the data

In [8]:
# Extracting NC, Virginia, Texas data 
filtered_df = df[df['state'].isin(['North Carolina', 'Texas', 'Virginia'])]

# Display the first 5 rows of the filtered data
filtered_df.head()

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
5,2024-04-01,2024-04-30,30,place,6,8805,f,"Holiday Lakes, TX",Holiday Lakes,Texas,...,NaN,0.333333,NaN,NaN,0.000000,NaN,NaN,"Houston, TX",26420,2025-01-13 14:16:48
12,2024-05-01,2024-05-31,30,place,6,10173,f,"Krugerville, TX",Krugerville,Texas,...,0.023810,0.066667,-0.155556,-0.361905,0.500000,0.333333,0.333333,"Dallas, TX",19124,2025-01-13 14:16:48
25,2024-07-01,2024-07-31,30,place,6,475,f,"Alice, TX",Alice,Texas,...,-0.051948,0.105263,-0.022396,-0.052632,0.333333,0.333333,0.102564,"Alice, TX",10860,2025-01-13 14:16:48
47,2021-04-01,2021-04-30,30,place,6,475,f,"Alice, TX",Alice,Texas,...,0.333333,NaN,NaN,NaN,0.312500,-0.072115,0.312500,"Alice, TX",10860,2025-01-13 14:16:48
55,2013-04-01,2013-04-30,30,place,6,1855,f,"Bedford, TX",Bedford,Texas,...,-0.333333,NaN,NaN,NaN,0.333333,-0.238095,0.333333,"Fort Worth, TX",23104,2025-01-13 14:16:48

In [11]:
#filtered_df.dtypes

In [19]:
# Extracting 2020 - 2025 data from period begin and period end columns
# convert the datatype to of columns that have dates to filter the dataset based on years
filtered_df.loc[:, ['period_begin', 'period_end']] = filtered_df[['period_begin', 'period_end']].apply(pd.to_datetime)

# Filter the data from 2020 - 25
five_years_data = filtered_df[
    (filtered_df['period_begin'].dt.year >= 2020) & 
    (filtered_df['period_end'].dt.year <= 2025)
]
five_years_data.head()

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
5,2024-04-01,2024-04-30,30,place,6,8805,f,"Holiday Lakes, TX",Holiday Lakes,Texas,...,NaN,0.333333,NaN,NaN,0.000000,NaN,NaN,"Houston, TX",26420,2025-01-13 14:16:48
12,2024-05-01,2024-05-31,30,place,6,10173,f,"Krugerville, TX",Krugerville,Texas,...,0.023810,0.066667,-0.155556,-0.361905,0.500000,0.333333,0.333333,"Dallas, TX",19124,2025-01-13 14:16:48
25,2024-07-01,2024-07-31,30,place,6,475,f,"Alice, TX",Alice,Texas,...,-0.051948,0.105263,-0.022396,-0.052632,0.333333,0.333333,0.102564,"Alice, TX",10860,2025-01-13 14:16:48
47,2021-04-01,2021-04-30,30,place,6,475,f,"Alice, TX",Alice,Texas,...,0.333333,NaN,NaN,NaN,0.312500,-0.072115,0.312500,"Alice, TX",10860,2025-01-13 14:16:48
83,2022-11-01,2022-11-30,30,place,6,19395,f,"Watauga, TX",Watauga,Texas,...,-0.384921,0.393939,-0.223708,0.240093,0.272727,0.009569,-0.314229,"Fort Worth, TX",23104,2025-01-13 14:16:48